.row{
  display: flex;
  flex-direction: row;
}

.grid{
  display: flex;
  justify-content: center;
  background-color: #DDDDDD;
  margin:15px;
  border-radius: 5px;
}

.node{
  height:40px;
  width:40px;
}

.node_end{
  background-color: #ff0000;
}

.node_start{
  background-color: #00ff00;
}
.hover{
  background-color: #00ff00;
}

.node_active{
  background-color: blue;
}

.wall_left{
  border-left: 2px black solid;
  transition-duration: .2s;
}

.wall_bottom{
  border-bottom: 2px black solid;
  transition-duration: .2s;
}

.wall_right{
  border-right: 2px black solid;
}

.wall_top{
  border-top: 2px black solid;
}

.node_path{
  background-color: grey;
}

.node:not(.wall_left) {
  border-left: 2px #FFFFFF00 solid;
}

.node:not(.wall_bottom) {
  border-bottom: 2px #FFFFFF00 solid;
}

.menu{
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.algorithms, .button{
  background-color: #ADD8E6;
  padding:7.5px;
  border-radius: 5px;
  border:none;
  outline: none;
}

.clear{
  background-color: red;
}

.settings{
  background-color: #AEAEAE;
}

.key{
  background-color: #DDDDDD;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:15px;
  border-radius: 5px;
}

.key_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.key_node_end{
  background-color: #ff0000;
  height:20px;
  width:20px;
}

.key_node_start{
  background-color: #00ff00;
  height:20px;
  width:20px;
}

.key_node_via-point{
  background-color: #0000ff;
  height:20px;
  width:20px;
}