.row{
  display: flex;
  flex-direction: row;
}

.node{
  height:40px;
  width:40px;
}

.node_start{
  background-color: #ff0000;
}

.node_end{
  background-color: #00ff00;
}
.hover{
  background-color: #00ff00;
}

.node_active{
  background-color: blue;
}

.wall_left{
  border-left: 2px black solid;
  transition-duration: .2s;
}

.wall_bottom{
  border-bottom: 2px black solid;
  transition-duration: .2s;
}

.wall_right{
  border-right: 2px black solid;
}

.wall_top{
  border-top: 2px black solid;
}


:not(.wall_left) {
  border-left: 2px white solid;
}

:not(.wall_bottom) {
  border-bottom: 2px white solid;
}