.row{
  display: flex;
  flex-direction: row;
}

.node{
  height:20px;
  width:40px;
}
.node_active{
  background-color: black;
}

.wall_left{
  border-left: 2px black solid;
}

.wall_bottom{
  border-bottom: 2px black solid;
}

.wall_right{
  border-right: 2px black solid;
}

.wall_top{
  border-top: 2px black solid;
}

tbody{
  border-top: 2px black solid;
}

:not(.wall_left) {
  border-left: 2px white solid;
}
/*
:not(.wall_bottom){
  border-bottom: 2px white solid;
}*/

